.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: #{$content-width}; //100%;
  margin-bottom: $spacing-unit / 2;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 8pt;
  border: 0;
  background-color: white;
  box-sizing: border-box;
}
    
    // Webkit stuffs - taken from _base.scss
    // max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    // max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    // @include media-query($on-laptop) {
    //     max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    //     max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    //     padding-right: $spacing-unit / 2;
    //     padding-left: $spacing-unit / 2;